<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.member.MemberDAO">


	<update id="setUpdate" parameterType="MemberDTO">
		UPDATE MEMBER
		<set>
			<if test="passWord != null and passWord != '' ">
				PASSWORD=#{passWord},
			</if>
			<if test="name != null and name != '' ">
				NAME=#{name},
			</if>
			<if test="email != null and email!= '' ">
				EMAIL=#{email},
			</if>
			<if test="phone != null and phone != '' ">
				PHONE=#{phone},
			</if>
			<if test="addRess != null and addRess!= '' ">
				ADDRESS=#{addRess}
			</if>
		</set>
			WHERE USERNAME=#{userName}
	</update>


	<select id="getDetail" resultMap="getDetailResult"
		parameterType="MemberDTO">
		SELECT *
		FROM MEMBER MB
		LEFT JOIN
		AVATAR AT
		USING(USERNAME)
		WHERE USERNAME=#{userName}
	</select>
	<resultMap type="MemberDTO" id="getDetailResult">
		<id column="USERNAME" property="userName" />
		<result column="PASSWORD" property="passWord" />
		<result column="NAME" property="name" />
		<result column="EMAIL" property="email" />
		<result column="PHONE" property="phone" />
		<result column="ADDRESS" property="addRess" />
		<association property="avatarFileDTO"
			javaType="AvatarFileDTO">
			<id column="FILENUM" property="fileNum" />
			<result column="FILENAME" property="fileName" />
			<result column="ORINAME" property="oriName" />
		</association>
	</resultMap>



	<insert id="setJoin" parameterType="MemberDTO">
		INSERT INTO MEMBER
		VALUES(#{userName},#{passWord},#{name},#{email},#{phone},#{addRess})
	</insert>

	<insert id="setFileJoin" parameterType="AvatarFileDTO">
		INSERT INTO AVATAR
		VALUES(MEMBER_SEQ.NEXTVAL,#{userName},#{fileName},#{oriName})
	</insert>
</mapper>