<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.winter.app.board.qna.QnaDAO">
  

<sql id="search">
	<where>
		<if test="kind == 'kind1'">
			BOARDTITLE LIKE '%'||#{SEARCH}'%'
		</if>
		<if test="kind == 'kind2'">
			BOARDCONTENTS LIKE '%'||#{SEARCH}'%'
		</if>
		<if test="kind == 'kind3'">
			BOARDWRITER LIKE '%'||#{SEARCH}'%'
		</if>
	</where>
</sql>



<update id="setUpdate" parameterType="BoardDTO">
UPDATE QNA 
<set>
<if test="boardTitle != null and boardTitle !=''">
BOARDTITLE=#{boardTitle},
</if>
<if test="boardContents != null">
BOARDCONTENTS=#{boardContents}
</if>
</set>
WHERE BOARDNUM=#{boardNum}
</update>



<!-- file Delete -->
<delete id="getFileDelete" parameterType="BoardDTO">
DELETE QNAFILE WHERE BOARDNUM=#{boardNum}

</delete>

  
  <!-- file List -->
  <select id="getFileList" resultType="BoardFileDTO" parameterType="BoardDTO">
  SELECT FILENAME FROM QNAFILE
  WHERE BOARDNUM=#{boardNum}
  </select>
  
  
  
  <!-- FileAdd -->
  
  <insert id="setFileAdd" parameterType="BoardFileDTO">
	INSERT INTO QNAFILE
	(FILENUM, BOARDNUM, FILENAME, ORINAME)
	VALUES(NOTICE_SEQ.NEXTVAL,#{boardNum},#{fileName},#{oriName})
  </insert>
  
  
  <!-- reply add -->
  <insert id="setReplyAdd" parameterType="QnaDTO">
  	<selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
  		 SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  	</selectKey>
    	INSERT INTO QNA(BOARDNUM,BOARDTITLE,BOARDWRITER,
  	BOARDCONTENTS,BOARDDATE,BOARDHIT,BOARDREF,BOARDSTEP,BOARDDEPTH,FLAG)
  	VALUES(#{boardNum},#{boardTitle}, #{boardWriter}, 
  	#{boardContents},SYSDATE,0,#{boardRef},#{boardStep},#{boardDepth},0)
  </insert>
  
  
  <update id="setDelete" parameterType="QnaDTO">
  UPDATE QNA SET FLAG=#{flag}
  WHERE BOARDNUM=#{boardNum}
  </update>
  
  
  <!-- reply step update -->
  <update id="setReplyUpdate" parameterType="QnaDTO">
  UPDATE QNA SET BOARDSTEP=BOARDSTEP+1
  WHERE BOARDREF=#{boardRef} AND BOARDSTEP > #{boardStep}
  </update>
  
  
  
  
  
  <select id="getList" resultType="QnaDTO" parameterType="Pager">
	
	SELECT * FROM
		 (SELECT ROWNUM N, R.* FROM	
		(SELECT * FROM QNA
			<include refid="search"></include>
		ORDER BY BOARDREF DESC, BOARDSTEP ASC
		) R)
	WHERE N BETWEEN #{start_Num} AND #{last_Num}
	
  </select>
  
  <insert id="setAdd" parameterType="BoardDTO">
    <selectKey keyProperty="boardNum" resultType="Long" order="BEFORE">
    SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
    </selectKey>
  	INSERT INTO QNA(BOARDNUM,BOARDTITLE,BOARDWRITER,
  	BOARDCONTENTS,BOARDDATE,BOARDHIT,BOARDREF,BOARDSTEP,BOARDDEPTH,FLAG)
  	VALUES(#{boardNum},#{boardTitle}, #{boardWriter}, 
  	#{boardContents},SYSDATE,0,#{boardNum},0,0,0)
  </insert>
  
   <resultMap type="QnaDTO" id="getDetailResult">
 <id column="BOARDNUM" property="boardNum" />
 <result column="BOARDTITLE" property="boardTitle"/>
 <result column="BOARDCONTENTS" property="boardContents"/>
 <result column="BOARDWRITER" property="boardWriter"/>
 <result column="BOARDHIT" property="boardHit"/>
 <result column="BOARDREF" property="boardRef"/>
 <result column="BOARDSTEP" property="boardStep"/>
 <result column="BOARDDEPTH" property="boardDepth"/>
<collection property="fileDTOs" javaType="List" ofType="BoardFileDTO">
<id column="FILENUM" property="fileNum"/>
<result column="FILENAME" property="fileName"/>
<result column="ORINAME" property="oriName"/>
</collection>
 </resultMap> 
   <select id="getDetail" resultMap="getDetailResult" parameterType="BoardDTO" >
  SELECT * 
  FROM QNA N
 	    LEFT JOIN
 		QNAFILE NF
 		USING(BOARDNUM)
 		WHERE BOARDNUM=#{boardNum}
  </select>
 
 <select id="getTotalCount" resultType="Integer" parameterType="Pager">
 SELECT COUNT(BOARDNUM) FROM QNA
 <include refid="search"></include>
 </select>
 
  </mapper>