<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.winter.app.product.ProductDAO">
	
	
	
	<select id="getList" resultType="ProductDTO"  parameterType="com.winter.app.util.Pager">
		SELECT * FROM
		(SELECT ROWNUM R, RG.* FROM
		(SELECT * FROM PRODUCT
		ORDER BY PRODUCTNUM DESC) RG)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>
	
	<select id="getDetail" resultType="productDTO" parameterType="productDTO">
	SELECT * FROM PRODUCT
	WHERE PRODUCTNUM=#{productNum}
	</select>
	
	<insert id="add" parameterType="productDTO">
	<selectKey keyProperty="productNum" order="BEFORE" resultType="Long">
	SELECT PRODUCT_SQE.NEXTVAL FROM DUAL
	</selectKey>
	INSERT INTO PRODUCT
	VALUES(productNum,#{productName},#{productContent},#{productRate},#{productJumsu})
	</insert>
<!-- 	<insert id="addFile" parameterType="Long">
	INSERT INTO PRODUCTFILE
	VALUES(FILE_SEQ.NEXTVAL,#{},,)
	</insert>  -->
	
	</mapper>