<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.winter.product.ProductDAO">
	<select id="getList" resultType="com.winter.app.product.ProductDTO"  parameterType="com.winter.app.util.pager">
	SELECT * FROM
(SELECT ROWNUM R, RG.* FROM
(SELECT * FROM PRODUCT
ORDER BY PRODUCTNUM DESC) RG)
WHERE R BETWEEN #{} AND 10;
	</select>
	
	</mapper>