<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winter.app.product.ReplyDAO">
	<insert id="setReply" parameterType="ReplyDTO">
		INSERT INTO REPLY
		VALUES(PRODUCT_SEQ.NEXTVAL,#{productNum},#{userName},#{replyContents},SYSDATE,#{replyJumsu})
	</insert>

	<select id="setReplyList" resultType="ReplyDTO" parameterType="Map">
		SELECT * FROM
		(SELECT ROWNUM RN, R.* FROM
		(SELECT * FROM REPLY
		WHERE PRODUCTNUM=#{replyDTO.productNum}
		ORDER BY REPLYNUM DESC) R)
		WHERE RN BETWEEN #{pager.start_Num} AND #{pager.last_Num}
	</select>
	
	<select id="getTotalCount" resultType="Integer" parameterType="ReplyDTO">
	SELECT COUNT(REPLYNUM) FROM REPLY
	WHERE PRODUCTNUM = #{productNum}
	</select>
</mapper>